
@{
    ViewBag.Title = "OnStreet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Location</h1>

<div id="map" style="width:60%;height:220px;"></div>

<script type="text/javascript">
    function myMap() {
        var mapCanvas = document.getElementById("map");
        var mapOptions = {
            center: new google.maps.LatLng(51.5, -0.2), zoom: 10
        };
        var map = new google.maps.Map(mapCanvas, mapOptions);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3wAJejirplyKSBj2l0hODmXnSzyyp_I0
&callback=myMap"></script>


<div>
    @Html.ActionLink("Back", "Index", "Home")
</div>
