@{
    ViewBag.Title = "Why choose us?";
}
<h2>@ViewBag.Title.</h2>



<text>SParking offers a compelling vertical, robotic parking solutions and automated parking systems to the challenge of limited parking space. The future of robotic parking solutions is now in your hands! </text>
<text>
    Now with our robotic parking solutions, you can park up to 16 cars conveniently in the space of two with fully automated parking systems that are fully secured and environment friendly.
    Easy finance and lease options available. Save on space, power consumption, running costs, and even generate advertising revenue with our robotic parking solutions!
    It’s more expensive to build out than to build up, specially for parking lots. We brought a solution for this problem by offering fully automated parking systems. Our parking systems are packed with latest technologies addressing the growing problems of limited parking space by utilizing robotic car parking systems in areas where crime, congestion, ,zoning are problems and where land is too expensive.
    We have enough flexibility to work on sophisticated high-rise projects as well as small-size startups or renovations and everything in between. Our professionals are able to handle major complex projects, we listen to your needs and deliver on time and in efficiency.
</text>

<div>
    @Html.ActionLink("Back", "Index", "Home")
</div>