
@{
    ViewBag.Title = "Benefits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Benefits</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box
        }

        /* Set height of body and the document to 100% */
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial;
        }

        /* Style tab links */
        .tablink {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 25%;
        }

            .tablink:hover {
                background-color: #777;
            }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent {
            color: white;
            display: none;
            padding: 100px 20px;
            height: 100%;
        }

        #TimeSaving {
            background-color: hotpink;
        }

        #GreatNews{
            background-color: mediumvioletred;
        }

        #Booking {
            background-color: palevioletred;
        }

        #Location{
            background-color: darkviolet;
        }
    </style>
</head>
<body>

    <button class="tablink" onclick="openPage('TimeSaving', this, 'hotpink')">TimeSaving</button>
    <button class="tablink" onclick="openPage('GreatNews', this, 'mediumvioletred')" id="defaultOpen">GreatNews</button>
    <button class="tablink" onclick="openPage('Booking', this, 'palevioletred')">Booking</button>
    <button class="tablink" onclick="openPage('Location', this, 'darkviolet')">Location</button>

    <div id="TimeSaving" class="tabcontent">
        <h3>Time Saving</h3>
        <p>Because we know the true value of time , you just bring your car to us and we will park it for you</p>
    </div>

    <div id="GreatNews" class="tabcontent">
        <h3>Completely automated</h3>
        <p>We offer inteligent robotic parking solutions! We promise you will not have to wait to park or to pick-up your car </p>
    </div>

    <div id="Booking" class="tabcontent">
        <h3>Book in advance</h3>
        <p>Save time for the truly important thing.</p>
    </div>

    <div id="Location" class="tabcontent">
        <h3>Location</h3>
        <p>We offer location services too</p>
    </div>

    <script>
function openPage(pageName,elmnt,color) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
    }
    document.getElementById(pageName).style.display = "block";
    elmnt.style.backgroundColor = color;

}
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
    </script>


    <div>
        @Html.ActionLink("Back", "Index", "Home")
    </div>
</body>
</html> 
